version: '3.8'

services:
  # ----------------------------------------
  # 1. BAZA DANYCH (PostgreSQL)
  # ----------------------------------------
  db:
    image: postgres:15-alpine
    restart: always
    container_name: password_manager_db
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DATABASE}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database_create.sql:/docker-entrypoint-initdb.d/init.sql
      
    networks:
      - backend_network

  # ----------------------------------------
  # 2. SERWER APLIKACJI (Flask)
  # ----------------------------------------
  server:
    build: .
    restart: always
    container_name: password_manager_server
    depends_on:
      - db
      - mail
    ports:
      - "5000:5000"
    environment:
      # Przekazujemy klucze bezpośrednio
      SECRET_KEY: ${SECRET_KEY}
      TOKEN_TIMEDELTA: ${TOKEN_TIMEDELTA}
      
      # Konfiguracja Bazy Danych
      DATABASE_DATABASE: ${DATABASE_DATABASE}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      
      # !!! KLUCZOWA ZMIANA !!!
      # Nadpisujemy 'localhost' z pliku .env na nazwę serwisu 'db'
      DATABASE_HOST: db 
      DATABASE_PORT: ${DATABASE_PORT}
      
    networks:
      - backend_network

  # ----------------------------------------
  # 3. TYMCZASOWE MAILE (Inbucket)
  # ----------------------------------------
  mail:
    image: inbucket/inbucket:3.0.4
    restart: always
    container_name: password_manager_mail
    environment:
      INBUCKET_STORAGE_TYPE: file
      INBUCKET_STORAGE_PARAMS: "path:/storage"
      INBUCKET_STORAGE_RETENTION_PERIOD: 720h
    volumes:
      - mail_data:/storage
    networks:
      - backend_network
    ports:
      - "2500:2500" # SMTP
      - "127.0.0.1:9000:9000"
  frpc:
    image: snowdreamtech/frpc:latest
    restart: always
    container_name: password_manager_frpc
    volumes:
      # Montujemy plik TOML w domyślnej lokalizacji
      - ./frpc.toml:/etc/frp/frpc.toml
    command: ["frpc", "-c", "/etc/frp/frpc.toml"]
    networks:
      - backend_network
    depends_on:
      - server
      - mail

networks:
  backend_network:
    driver: bridge

volumes:
  db_data:
  mail_data: